nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:0 200px;


  
}
body{
 font-family: 'Open Sans', sans-serif;
 font-family: 'Lato', sans-serif;
}
.nav-title{
font-weight: 800;
font-size: 45px;
color: #181818;
}
span{
  color: tomato;
}
.text-primary{
  color: #FD6E0A;
}
nav > ul{
  display: flex;
  align-items: center;
}
nav li{
  list-style: none;

}
nav li a{
  margin-right: 50px;
}
nav a{
  text-decoration: none;
  color: #474747;
}
.btn-primary{
 background-color: #FD6E0A;
 border-radius: 5px;
 border: 0;
 color: white;
 padding: 15px 25px;

}
.header{
  background-color:  #FFF8F3;;
}
.banner{
  padding: 30px 30px 30px 150px;
  display: flex;
  align-items: center;
}

 .banner .profile-piture{
  width: 500px;


  }

